<div class="container">
<% if !user_signed_in? %>
<h1> Welcome to Tempbook! </h1>

<div class="signinform">
    <%= form_for(:user, :url => session_path(:user), class: "form-signin") do |f| %>
      <h2 class="form-signin-heading">Sign in</h2>
        <%= f.text_field :email, class: "form-control", placeholder:"Email address"  %>
        <label for="inputPassword" class="sr-only"></label>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        <%= f.submit 'Sign in', class: "btn btn-lg btn-primary btn-block" %>
      <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    </div>


    <li><%= link_to "Log In", new_user_session_path %></li>

    <div class="registerform">
      <div class="row">
          <%= form_for(:user, :url => registration_path(:user), class:"form-register") do |f| %>
          <h2 class="form-register-heading">Register</h2>
            <label for="inputName" class="sr-only"></label>
            <%= f.text_field :name,  class:"form-control", placeholder:"Name" %>

              <label for="inputEmail" class="sr-only"></label>
                <%= f.email_field :email,  class:"form-control", placeholder:"Email address" %>

              <label for="inputPassword" class="sr-only"></label>
                <%= f.password_field :password, class:"form-control", placeholder:"Password" %>

              <label for="inputPassword" class="sr-only"></label>
                <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Enter password again"  %>

                <%= f.submit "Register now!",  class:"btn btn-lg btn-primary btn-block" %>
            <% end %>
        <% end %>
  </div>
</div>

<% if user_signed_in? %>
<h1 style= "margin-top: 200px;"> Welcome to Tempbook! </h1>

  <button onclick="location.href='user/profile'" class="indexbuttons">Your profile</button>
  <button onclick="location.href='posts'" class="indexbuttons">Posts</button>
        <% end %>
</div>
