<%= form_for @post do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="form-group">
       <%= f.text_field :title, class: "form-control", placeholder: "title" %>
    </div>
    <br>


    <div class="form-group">
       <%= f.text_field :description, class: "form-control", placeholder: "Decription"   %>
    </div>
    <br>

    <div class="form-group">
       <%= f.text_field :image, class: "form-control", placeholder: "image" %>
       <br>
    </div>
    <br>

    <%= f.submit  %>
<% end %>
