<div class="container">
  <div class="card-panel" style="background-color: transparent; width: 400px; color:white; border-color: white; float:left;">
<h6>Your Profile</6>
  <br>
  <br>
<%= form_for @profile, url: user_profile_path do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %>

    <div class="form-group">
       <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

    <div class="form-group">
       <%= f.text_field :description, class: "form-control", placeholder: "Description"   %>
    </div>

    <div class="form-group">
       <%= f.text_field :avatar, class: "form-control", placeholder: "url for avatar"   %>
    </div>
    <br>

    <%= f.submit (@profile.new_record? ? "Create" : "Update"), class: "form-control btn-primary" %>

<% end %>
</div>
<div class="avatar" style="float:right; border: 3px;">
  <p style="color:white;">Current avatar:</p>
    <img src="<%= @profile.avatar %>" width="400px" height="400px"/>
</div>
</div>
