<!DOCTYPE html>
<html>
<head>
  <title>TempBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<script>
  $( document ).ready(function){
     $(".dropdown-button").dropdown();
  });
</script>

</head>
<body>
<div class="navbar">
    <div class="navbar-fixed">
            <ul class="left hide-on-med-and-down">
              <button onclick="location.href='/'" class="navbutton">TempBook</button></ul>
                <ul class="right hide-on-med-and-down">
                  <% if user_signed_in? %>
                  <button onclick="location.href='/user/profile'" class="navbutton">Your profile</button>
                  <button onclick="location.href='/posts'" class="navbutton">Posts</button>
                  <button onclick="location.href='/posts/new'" class="navbutton">Add new post</button>
                  <% end %>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

<%= yield %>

<div class="footer">
  <a class="credits"><b>Created by: </b>Aeshta, Mariano and Jake --- <a>
    <a class="footerlink"><%= link_to "Logout", destroy_user_session_path , :method => :delete %></a>
</div>

</body>
</html>
