<!DOCTYPE html>
<html>
<head>
  <title>TempBooks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
<script>
  $( document ).ready(function){
     $(".dropdown-button").dropdown();
  });
</script>
<style>
nav ul li a {
  color: black;
}
</style>
</head>
<body>
<div class="navbar">
  <div class="row" style="width: 100%; height: 100%; ">
    <div class="navbar-fixed">
        <nav class=" blue-grey">
              <a href="#!" class="brand-logo">TempBook</a>
                <ul class="right hide-on-med-and-down">
                  <li><a href="profile#index.html">Profile</a></li>
                  <li><a href="posts#index.html">Posts</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>

<%= yield %>

</body>
</html>

<li><%= link_to "Log In", new_user_session_path %></li>
